# Advanced Dataframe Examples

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

In [2]:
df

       name  math  english  reading classroom
0     Sally    62       85       80         A
1      Jane    88       79       67         B
2     Suzie    94       74       95         A
3     Billy    98       96       88         B
4       Ada    77       92       98         A
5      John    79       76       93         B
6    Thomas    82       64       81         A
7     Marie    93       63       90         A
8    Albert    92       62       87         A
9   Richard    69       80       94         A
10    Isaac    92       99       93         B
11     Alan    92       62       72         A

In [3]:
db_name = "employees"

In [4]:
from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [5]:
df = pd.read_sql("SELECT * FROM employees LIMIT 5",url)

In [6]:
df

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [7]:
sql = '''
SELECT
    emp_no,
    first_name,
    last_name
FROM employees
WHERE gender = 'F'
LIMIT 5
OFFSET 200
'''

pd.read_sql(sql, url)

   emp_no first_name       last_name
0   10513   Yuichiro        Schicker
1   10519   Yonghoan         Alencar
2   10522      Marke        Cesareni
3   10524  Shigehiro        Cincotta
4   10526    Kwangho  Theuretzbacher

In [8]:
query = '''
SELECT
    t.title as title,
    d.dept_name as dept_name
FROM titles t
JOIN dept_emp USING (emp_no)
JOIN departments d USING (dept_no)
'''

employees = pd.read_sql(query, url)

In [9]:
employees

               title         dept_name
0              Staff  Customer Service
1       Senior Staff  Customer Service
2              Staff  Customer Service
3       Senior Staff  Customer Service
4              Staff  Customer Service
...              ...               ...
489898  Senior Staff             Sales
489899         Staff             Sales
489900         Staff             Sales
489901  Senior Staff             Sales
489902         Staff             Sales

[489903 rows x 2 columns]

## Getting data from SQL databases

#### Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url formatted like in the examples in this lesson.

In [10]:
empdf = pd.read_sql("SELECT * FROM employees LIMIT 5",url)

In [11]:
empdf

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [12]:
titlesdf = pd.read_sql("SELECT * FROM titles LIMIT 100",url)

In [13]:
titlesdf

    emp_no               title   from_date     to_date
0    10001     Senior Engineer  1986-06-26  9999-01-01
1    10002               Staff  1996-08-03  9999-01-01
2    10003     Senior Engineer  1995-12-03  9999-01-01
3    10004            Engineer  1986-12-01  1995-12-01
4    10004     Senior Engineer  1995-12-01  9999-01-01
..     ...                 ...         ...         ...
95   10063     Senior Engineer  1989-04-08  9999-01-01
96   10064               Staff  1985-11-20  1992-03-02
97   10065            Engineer  1998-05-24  9999-01-01
98   10066  Assistant Engineer  1986-02-26  1992-02-26
99   10066            Engineer  1992-02-26  1998-02-25

[100 rows x 4 columns]

In [14]:
titlesdf.groupby("title").emp_no.value_counts()

title               emp_no
Assistant Engineer  10008     1
                    10009     1
                    10024     1
                    10066     1
Engineer            10004     1
                             ..
Staff               10064     1
Technique Leader    10021     1
                    10025     1
                    10033     1
                    10044     1
Name: emp_no, Length: 100, dtype: int64

In [15]:
questions = '''
SELECT 
    CONCAT(first_name," ",last_name) as full_name,
    emp_no
    title, 
    from_date, 
    to_date 
FROM titles 
JOIN employees USING (emp_no)
ORDER BY full_name
LIMIT 50
'''

titles_and_names = pd.read_sql(questions, url)

In [16]:
titles_and_names = pd.read_sql("SELECT * FROM titles JOIN employees USING (emp_no)", url)

In [17]:
titles_and_names['full_name'] = titles_and_names.first_name + " " + titles_and_names.last_name

In [18]:
titles_and_names

,emp_no,title,from_date,to_date,birth_date,first_name,last_name,gender,hire_date,full_name
0,10001,Senior Engineer,1986-06-26,9999-01-01,1953-09-02,Georgi,Facello,M,1986-06-26,Georgi Facello
1,10002,Staff,1996-08-03,9999-01-01,1964-06-02,Bezalel,Simmel,F,1985-11-21,Bezalel Simmel
2,10003,Senior Engineer,1995-12-03,9999-01-01,1959-12-03,Parto,Bamford,M,1986-08-28,Parto Bamford
3,10004,Engineer,1986-12-01,1995-12-01,1954-05-01,Chirstian,Koblick,M,1986-12-01,Chirstian Koblick
4,10004,Senior Engineer,1995-12-01,9999-01-01,1954-05-01,Chirstian,Koblick,M,1986-12-01,Chirstian Koblick
...,...,...,...,...,...,...,...,...,...,...
443303,499997,Engineer,1987-08-30,1992-08-29,1961-08-03,Berhard,Lenart,M,1986-04-21,Berhard Lenart
443304,499997,Senior Engineer,1992-08-29,9999-01-01,1961-08-03,Berhard,Lenart,M,1986-04-21,Berhard Lenart
443305,499998,Senior Staff,1998-12-27,9999-01-01,1956-09-05,Patricia,Breugel,M,1993-10-13,Patricia Breugel
443306,499998,Staff,1993-12-27,1998-12-27,1956-09-05,Patricia,Breugel,M,1993-10-13,Patricia Breugel
443307,499999,Engineer,1997-11-30,9999-01-01,1958-05-01,Sachin,Tsukuda,M,1997-11-30,Sachin Tsukuda

In [19]:
number_of_employees_per_title = titles_and_names.title.count()

In [20]:
number_of_employees_per_title_ever = titles_and_names.groupby("full_name")[['title']].count()

In [21]:
number_of_employees_per_title_ever.loc["full_name":"Laurentiu Cesareni"]

Empty DataFrame
Columns: [title]
Index: []

In [22]:
number_of_employees_per_title_ever.nunique()

title    8
dtype: int64

In [23]:
number_of_employees_per_title_ever.plot.bar()

KeyboardInterrupt:

Error in callback <function install_repl_displayhook.<locals>.post_execute at 0x11751b200> (for post_execute):

KeyboardInterrupt:

Error in callback <function flush_figures at 0x11778cb90> (for post_execute):

KeyboardInterrupt:

In [ ]:
number_of_employees_per_title = titles_and_names.groupby('full_name').title.count()

In [ ]:
number_of_employees_per_title.sort_values()

In [ ]:
number_of_employees_per_title.plot.hist()

In [24]:
from pydataset import data

In [25]:
mpg = data('mpg')

In [26]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [27]:
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

#### On average, which manufacturer has the best miles per gallon?

In [31]:
manufacturer_and_all_milages = mpg[['manufacturer','cty','hwy',]]

In [32]:
manufacturer_and_all_milages

    manufacturer  cty  hwy
1           audi   18   29
2           audi   21   29
3           audi   20   31
4           audi   21   30
5           audi   16   26
..           ...  ...  ...
230   volkswagen   19   28
231   volkswagen   21   29
232   volkswagen   16   26
233   volkswagen   18   26
234   volkswagen   17   26

[234 rows x 3 columns]

In [38]:
manufacturer_and_all_milages.sort_values(by = ['cty','hwy'], ascending = False)

    manufacturer  cty  hwy
222   volkswagen   35   44
213   volkswagen   33   44
223   volkswagen   29   41
197       toyota   28   37
100        honda   28   33
..           ...  ...  ...
55         dodge    9   12
60         dodge    9   12
66         dodge    9   12
70         dodge    9   12
127         jeep    9   12

[234 rows x 3 columns]