In [1]:
import pandas as pd
import numpy as np

In [2]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

#### Name the variable that holds the series fruits.

In [3]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [4]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

#### Run .describe() on the series to see what describe returns for a series of strings.

In [5]:
fruits_summary = fruits.describe()

In [6]:
fruits_summary

count       17
unique      13
top       kiwi
freq         4
dtype: object

#### Run the code necessary to produce only the unique fruit names.

In [7]:
only_unique_fruit_names = pd.Series.unique(fruits)

In [8]:
only_unique_fruit_names

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

#### Determine how many times each value occurs in the series.

In [9]:
count_of_unique_fruits = fruits.value_counts()

In [10]:
count_of_unique_fruits

kiwi                4
mango               2
gooseberry          1
papaya              1
gala apple          1
honeydew            1
watermelon          1
blueberry           1
tomato              1
pineapple           1
blackberry          1
strawberry          1
honeycrisp apple    1
dtype: int64

#### Determine the most frequently occurring fruit name from the series.

In [11]:
most_freq_fruit_name = fruits.mode()

In [12]:
most_freq_fruit_name

0    kiwi
dtype: object

#### Determine the least frequently occurring fruit name from the series.

In [13]:
least_common_fruit_name = fruits.min()

In [14]:
least_common_fruit_name

'blackberry'

#### Write the code to get the longest string from the fruits series.

In [15]:
get_longest_string = fruits.str.len().sort_values().tail(1) == 16

In [16]:
get_longest_string

5    True
dtype: bool

#### Find the fruit(s) with 5 or more letters in the name.

In [17]:
fruits_with_5_or_more_letters = fruits[(fruits.str.len() >= 5)]

In [18]:
fruits_with_5_or_more_letters

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

#### Capitalize all the fruit strings in the series.

In [19]:
capitalize_fruit_strings = fruits.str.capitalize()

In [20]:
capitalize_fruit_strings

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

#### Count the letter "a" in all the fruits (use string vectorization)

In [21]:
count_letter_a = fruits.str.count('a').sum()

In [22]:
count_letter_a

14

#### Output the number of vowels in each and every fruit.

In [34]:
def number_of_vowels(n):
    vowels = ('aeiou')
    count = 0
    for letter in n:
        if letter in vowels:
            count = count + 1
    return count

In [36]:
fruits.apply(number_of_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [25]:
fruits_with_berry_in_name = fruits[fruits.str.contains("berry")]

In [26]:
fruits_with_berry_in_name

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [27]:
fruits_with_apple_in_name = fruits[fruits.str.contains("apple")]

In [28]:
fruits_with_apple_in_name

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

#### Which fruit has the highest amount of vowels?

In [42]:
fruit_with_highest_amount_of_vowels = fruits[fruits.apply(number_of_vowels).sort_values().tail(1)]

In [43]:
fruit_with_highest_amount_of_vowels

5    honeycrisp apple
dtype: object

In [44]:
numbers = pd.Series(['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23'])

In [45]:
numbers

0       $796,459.41
1           $278.60
2       $482,571.67
3     $4,503,915.98
4      $2,121,418.3
5      $1,260,813.3
6        $87,231.01
7     $1,509,175.45
8     $4,138,548.00
9     $2,848,913.80
10      $594,715.39
11    $4,789,988.17
12     $4,513,644.5
13    $3,191,059.97
14    $1,758,712.24
15    $4,338,283.54
16    $4,738,303.38
17    $2,791,759.67
18      $769,681.94
19      $452,650.23
dtype: object